.footer {
    background-image: url("../../../public/images/footer_wave_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 112px;
    color: hsl(0, 0%, 83%);
    position: relative;
    z-index: 1;
}

.footer .container .footer-top {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 0.5fr 1fr;
    padding: 40px 0;
    border-block-end: 1px solid hsl(0, 0%, 47%);
}
.footer .container .footer-top .footer-brand  {
    position: relative;
}
.footer .container .footer-top .footer-brand .logo img {
    width: 206px;
    height: 248px;
    position: absolute;
    top: -89px;
    left: -14px;
}
.footer .container .footer-top .footer-brand  h1 {
    position: absolute;
    bottom: 108px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}
.footer .container .footer-top .footer-brand  p {
    position: absolute;
    bottom: 6px;
    color: #ffffffb3;
}

.footer .container .footer-top .footer-list{
    list-style: none;
}
.footer .container .footer-top .footer-list li p{
    color: hsl(0, 0%, 47%);
    margin-block-end: 25px;
    font-size: 2.4rem;
}
.footer .container .footer-top .footer-list li .footer-link ,
.footer .container .footer-top .footer-list li .address{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.25s ease;
    padding-block: 10px;
    color: inherit;
    text-decoration: none;
}

.footer .container .footer-top .footer-list li .address{
    border-block-end: 1px solid hsl(0, 0%, 47%);;
}

.footer .container .footer-top .footer-list li .footer-link:hover{
    color: hsl(39, 96%, 48%);
}

.footer .container .footer-top .footer-list li ul.social-list{
    display: flex;
    gap: 20px;
    padding-block-start: 18px;
    padding-left: 0;
    list-style: none;
}

.footer .container .footer-top .footer-list li ul.social-list li a.social-link{
    font-size: 2rem;
    transition: 0.25s ease;
    color: #d4d4d4;
}

.footer .container .footer-top .footer-list li ul.social-list li a.social-link:hover{
    color: hsl(39, 96%, 48%);
}







.footer .container .footer-bottom {
    padding-block: 15px;
    text-align: center;
}

.footer .container .footer-bottom .copyright {
    color: hsl(0, 0%, 47%);
    font-size: 1.4rem;
    margin: 0;
}







/* ======================================================================= */


/*-----------------------------------*\
  footer
\*-----------------------------------*/

/* *
* responsive for large than 1200px screen
*/

/* @media (min-width: 1200px) {

} */



/**
* responsive for large than 992px screen
*/

/* @media (min-width: 992px) {

} */


/**
* responsive for large than 768px screen
*/

/* @media (min-width: 768px) {

} */


/**
 * responsive for large than 575px screen
 */

/* @media (min-width: 575px) {


} */
















