.header{
    background: no-repeat;
    min-height: 0vh;
    z-index: 1;
}

.header .navbar .container-fluid .btn{
    background: #00846bb5;
}

/* 
======================================================================================
------------------------------   slide
================
*/

.slide{
    margin-top: -90px;
    position: relative;
}
/* (A) SHARED */
.sImg, .sCaption { width: 100%; }
.sSlide, .sLeft, .sRight { display: flex; }

/* (B) CONTAINER */
.sSlide {
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
    height: 344px;
    border-bottom:#363636 solid 4px;
}

/* (C) IMAGE */
.sImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* (D) CAPTION */
.sCaption {
  padding: 10px;
  color: #fff;
  background: #000;
}

/* (E) CONTROLS */
/* (E1) LEFT/RIGHT BUTTONS */
.sLeft, .sRight {
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  padding: 0 20px;
  font-size: 2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.sLeft { left: 0; }
.sRight { right: 0; }

/* (E2) SHOW ONLY ON HOVER */
.sLeft, .sRight {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.sSlide:hover .sLeft, .sSlide:hover .sRight {
    visibility: visible;
    opacity: 0.4;
}


.slide .logoreastrand{
    position: absolute;
    left: 62px;
    top: 243px;
    width: 169px;
    height: 165px;
    border-radius: 50%;
}
.slide .logoreastrand img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.slide .titlerestrand{
    position: absolute;
    top: 208px;
    left: 242px;
    background: #ffffffd6;
    width: 432px;
    border-radius: 18px;
}
.slide .titlerestrand .title-restrand h1{
    margin: 18px 0 16px;
    font-size: 48px;
}
.slide .titlerestrand .body-restrand{
    display: flex;
    justify-content: flex-start;
}
.slide .titlerestrand .body-restrand div{
    display: flex;
}