* {
    margin: 0;
    padding: 0;
}

.verification {
    display: flex;
    align-items: center;
    height: 99vh;
    justify-content: center;
}
.verification .verifi {
    border: rgb(0, 8, 255) solid;
    width: 650px;
}

.verification .verifi .image{
    position: relative;
    border: red solid;
    display: flex;
    justify-content: center;
}
.verification .verifi .image i{
    position: absolute;
    top: 26%;
    left: 40%;
    color: #00846b;;
    font-size: 119px;
}
.verification .verifi .image div .fa-plus:first-child{
    top: 71px;
    left: 239px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:nth-child(2){
    top: 85px;
    left: 378px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:nth-child(3){
    top: 57px;
    left: 342px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:nth-child(4){
    top: 117px;
    left: 215px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:last-child{
    top: 36px;
    left: 270px;
    font-size: 16px;
  
}

.verification .verifi .image div .fa-circle:first-child{
    top: 134px;
    left: 385px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-circle:nth-child(2){
    top: 58px;
    left: 268px;
    font-size: 11px;
  
}
.verification .verifi .image div .fa-circle:last-child{
    top: 94px;
    left: 408px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star:first-child{
    top: 94px;
    left: 408px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star:nth-child(2){
    top: 94px;
    left: 408px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star:last-child{
    top: 94px;
    left: 408px;
    font-size: 13px;
  
}

.verification .verifi .image img{
    width: 490px;
    height: 259px;
}

.verification .verifi .Verify {
    display: flex;
    justify-content: center;
    font-family: emoji;
}

.verification .verifi .message  p {
    margin: 0 0 0 28px;
    font-family: emoji;
    font-size: 19px;
}

.verification .verifi .message  p span {
    color: #00846b;
    font-size: 22px;
}
.verification .verifi form .input {
    display: flex;
    width: 245px;
    justify-content: space-evenly;
    margin: 27px auto;
}
.verification .verifi form .input input {
    width: 40px;
    height: 41px;
    font-size: 43px;
    padding-left: 9px;
    font-family: emoji;
    border: none;
    background: #d9d9d9;
}