* {
    margin: 0;
    padding: 0;
}

.verification {
    display: flex;
    align-items: center;
    height: 99vh;
    justify-content: center;
}
.verification .verifi {
    border: rgb(0, 8, 255) solid;
    width: 650px;
}

.verification .verifi .image{
    position: relative;
    display: flex;
    justify-content: center;
}
.verification .verifi .image i{
    position: absolute;
    top: 26%;
    left: 40%;
    color: #00846b;;
    font-size: 119px;
}
.verification .verifi .image div .fa-plus:first-child{
    top: 71px;
    left: 239px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:nth-child(2){
    top: 85px;
    left: 378px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:nth-child(3){
    top: 57px;
    left: 342px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:nth-child(4){
    top: 117px;
    left: 215px;
    font-size: 16px;
  
}
.verification .verifi .image div .fa-plus:last-child{
    top: 36px;
    left: 270px;
    font-size: 16px;
  
}

.verification .verifi .image div .fa-circle:first-child{
    top: 134px;
    left: 385px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-circle:nth-child(2){
    top: 58px;
    left: 268px;
    font-size: 11px;
  
}
.verification .verifi .image div .fa-circle:last-child{
    top: 94px;
    left: 408px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star-of-life:first-child{
    top: 48px;
    left: 221px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star-of-life:last-child{
    top: 112px;
    left: 437px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star:first-child{
    top: 111px;
    left: 388px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star:nth-child(2){
    top: 81px;
    left: 199px;
    font-size: 13px;
  
}
.verification .verifi .image div .fa-star:last-child{
    top: 136px;
    left: 423px;
    font-size: 13px;
  
}

.verification .verifi .image img{
    width: 490px;
    height: 259px;
}

.verification .verifi .Verify {
    display: flex;
    justify-content: center;
    font-family: emoji;
}

.verification .verifi .message  p {
    margin: 0 0 0 28px;
    font-family: emoji;
    font-size: 19px;
}

.verification .verifi .message  p span {
    color: #00846b;
    font-size: 22px;
}
.verification .verifi form .input {
    display: flex;
    width: 407px;
    justify-content: space-evenly;
    margin: 27px auto;
    position: relative;
}
.verification .verifi form .input .input_mokaab{
    position: relative;
}
.verification .verifi form .input input {
    width: 67px;
    height: 58px;
    font-size: 43px;
    font-family: emoji;
    border: none;
    text-align: center;
    padding-bottom: 13px;
}
.verification .verifi form .input input:focus-visible {
    outline:none;
}

.verification .verifi form .input .span_input{
    position: absolute;
    width: 100%;
    height: 3px;
    background: #00846bb5;
    bottom: 0;
    left: 0;
}

.verification .verifi form .input .span_input::before{
    content: "";
    width: 50px;
    height: 3px;
}

.verification .verifi form .btn_div{
    text-align: center;
    
}
.verification .verifi form .btn_div button{
    

}