@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #eaedf7;
}

/*
========================================================================================
---------------------------------- style header
=====================
*/

header {
    width: 100%;
    height: 67px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 200;
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: background 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.dark header {
    background: #0e0e23ed;
}

header.animateheader {
    margin-left: 250px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .icon__menu {
    padding-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

header .group-icon {
    margin-right: 100px;
    transition: margin-right 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    align-items: center;
}

header .group-icon .nav-link {
    font-size: 23px;
    color: #4a4d51;
    cursor: pointer;
    line-height: 0.9;
    padding: 0.6rem 0.6rem;
    border-radius: 50%;
    margin: 0 5px;
}

header .group-icon .translate .nav-link img {
    padding: 0;
    min-width: 0;
    width: 41px;
    height: 38px;
    flex-shrink: 0;
    line-height: 24px;
    border-radius: 50%;
}

header .group-icon .dark-moud .nav-link i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    transform: rotate(323deg);
}

.dark header .group-icon .dark-moud .nav-link i {
    color: #ffffffde;
}

header .group-icon .dark-moud .nav-link,
header .group-icon .notevication .nav-link {
    margin: 0;
}

header .group-icon .translate .nav-link {
    padding: 0;
}

header .group-icon .translate {
    position: relative;
}

header .group-icon .translate .flag {
    position: absolute;
    right: -9px;
    top: 45px;
    background: #ffffff;
    width: 147px;
    border: #f0f2f8 solid 1px;
    border-radius: 5px;
    display: none;
}

header .group-icon .translate .flag::before{
    content: "";
    width: 13px;
    height: 13px;
    background: #ffffff;
    position: absolute;
    top: -7px;
    right: 28px;
    transform: rotate(45deg);
    border-top: 1px solid #f0f2f8;
    border-left: 1px solid #f0f2f8;
}

header .group-icon .translate .flag .lagn {
    display: flex;
    align-items: center;
}

header .group-icon .translate .flag .lagn:first-child {
    margin-top: 9px;
}
header .group-icon .translate .flag .lagn:first-child p {
    margin-top: 6px;
}

header .group-icon .translate .flag .lagn:nth-child(2) p{
    
}

header .group-icon .translate .flag .lagn:last-child {
    height: 44px;
}

header .group-icon .translate .flag .lagn:hover {
    background-color: #f1f2f9;
    cursor : pointer;
}

header .group-icon .translate .flag .lagn a{
    display: inherit;
    color: black;
    text-decoration: none;
}

header .group-icon .translate .flag .lagn img{
    width: 47px;
    margin-right: 11px;
}

header .group-icon .translate .flag .lagn:nth-child(2) img{
    width: 32px;
    margin-left: 8px;
    margin-right: 18px;
}

header .group-icon .translate .flag .lagn:last-child img{
    margin-left: 10px;
}

header .group-icon .translate .flag .lagn p{
    font-family: "Gotham", "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    font-size: 22px;
}

/*
====================================================
-------------------- notevication
=========
*/

header .group-icon .notevication{
    position: relative;
}

header .group-icon .notevication .notevica{
    position: absolute;
    width: 123px;
    right: -45px;
    height: 137px;
    background: #671a1a;
    display: none;
}

/*
====================================================
-------------------- message
=========
*/

header .group-icon .message{
    position: relative;
}

header .group-icon .message .mess{
    position: absolute;
    width: 123px;
    right: -8px;
    height: 137px;
    background: #671a1a;
    display: none;
}

header .group-icon .message .nav-link i {
    font-size: 19px;
}

.dark header .group-icon .message .nav-link i {
    color: #ffffffde;
}

header .group-icon .notevication .nav-link i {
    font-size: 22px;
}

.dark header .group-icon .notevication .nav-link i {
    color: #ffffffde;
}

header.animateheader .group-icon {
    margin-right: 270px;
    transition: margin-right 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .group-icon .profile {
    position: relative;
}

header .group-icon .profile .icon_wrap img {
    width: 35px;
}

header .group-icon .profile .profile_dd .profile_no {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}

header .group-icon .profile .profile_dd .profile_no .profile_gg {
    margin-left: 12px;
}

header .group-icon .profile .profile_dd .profile_no .profile_gg h3,
header .group-icon .profile .profile_dd .profile_no .profile_gg p {
    margin: 0;
    opacity: 0.8;
    font-family: auto;
}

header .group-icon .profile .profile_dd span::before {
    content: "";
    height: 2px;
    width: 95%;
    background: #4a4d5152;
    position: absolute;
    left: 6px;
}

header .group-icon .profile .profile_dd .profile_no .profile_img img {
    width: 48px;
    margin-left: 6px;
}


header .profile .profile_dd {
    display: none;
    position: absolute;
    border: #f0f2f8 solid 1px;
    right: 6px;
    top: 49px;
    width: 219px;
    background-color: white;
}

header .group-icon .groop div.display{
    display: block;
}

header .profile .profile_dd::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #ffffff;
    position: absolute;
    top: -7px;
    right: 7px;
    transform: rotate(45deg);
    border-top: 1px solid #f0f2f8;
    border-left: 1px solid #f0f2f8;
}

header .group-icon .profile .profile_dd a {
    padding: 10px;
    height: 38px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    justify-content: flex-start;
}

header .group-icon .profile .profile_dd a:hover {
    background-color: #f1f2f9;
}

header .group-icon .profile .profile_dd a i {
    font-size: 16px;
    margin-right: 10px;
    width: 24px;
    text-align: center;
    line-height: 0.9;
}

#navlist {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    padding: 20px;
}







.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.dark header .icon__menu i {
    color: white;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: #0e0e23;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}



.name__page i {
    font-size: 35px;
    margin-right: 20px;
    position: absolute;
    top: 6px;
    left: 30px;
}

.name__page i.logo_R {
    display: none;
}

.name__page img.logo {
    display: block;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 67px;
    height: 90vh;
    display: flex;
    padding-right: 0;
    flex-wrap: wrap;
    align-content: space-around;
}

.name__page img {
    position: absolute;
    width: 168px;
    top: -55px;
    display: none;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
}

.options__menu a.active {
    background: #eaedf7;
    position: relative;
    border-radius: 30px 0 0 30px;
    border: 0px solid transparent;
    border-right: 0px;
    z-index: 1;
    left: -7px;
}

.menu__side .options__menu a.active::before {
    content: "";
    position: absolute;
    top: -30px;
    z-index: 9;
    left: 38px;
    bottom: 0;
    height: 30px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom: transparent;
    border-radius: 0px 0px 48px 0px;
    border-right: 20px solid #0e0e23;
    transition: left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side.menu__side_move .options__menu a.active::before {
    left: 207px;
}

.menu__side .options__menu a.active::after {
    content: "";
    position: absolute;
    top: 57px;
    z-index: 0;
    left: 37px;
    bottom: 0;
    height: 30px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom: transparent;
    border-radius: 0px 48px 0px 0px;
    border-right: 20px solid #0e0e23;
    transition: left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side.menu__side_move .options__menu a.active::after {
    left: 207px;
}


.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 59px;
    transition: width 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side.menu__side_move .options__menu .option {
    width: 227px;
}

.options__menu .option i {
    color: white;
    font-size: 22px;
    margin-left: 7px;
}

.options__menu a.active .option i {
    width: 38px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    box-shadow: none;
    background: #3d8c74;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
    display: none;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0.5;
    font-family: auto;
    margin: 0;
    margin-left: 25px;
    transition: display 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.options__menu a.active .option h4 {
    color: #00846b;
    opacity: 1;
}

.options__menu .option h4.option4 {
    display: block;
}

a.selected {
    color: #fff;
}

/* .selected:before {
    content: '';
    width: 50px;
    height: 98%;
    background: white;
    position: absolute;
    top: 2%;
    left: -60px;
    border-radius: 50%;
} */

/*Clases para usar en JavaScript*/

#navlist.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}

.menu__side .options__menu a.active .shape1 {
    position: absolute;
    top: -29px;
    width: 20px;
    height: 49px;
    left: 39px;
    background: #eaedf7;
    transition: left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side.menu__side_move .options__menu a.active .shape1 {
    left: 207px;
}

.menu__side .options__menu a.active .shape2 {
    position: absolute;
    top: 42px;
    width: 25px;
    height: 32px;
    left: 38px;
    background: #eaedf7;
    transition: left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side.menu__side_move .options__menu a.active .shape2 {
    left: 207px;
}

/*
============================================================================================
--------------------- stayl content
=================
*/

.content {
    margin-left: 80px;
    margin-top: 68px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.content.animatecontent {
    margin-left: 250px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}