@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.content .menu-content {
  display: flex;
  justify-content: space-around;
  font-family: "Gotham", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  right: 0;
  left: 80px;
  top: 76px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.content .menu-content div.button_19 {
  width: 209px;
  padding: 10px 0;
}

.content.animatecontent .menu-content {
  margin-left: 170px;
}

.content .cont-content {
  position: absolute;
  top: 144px;
  right: 0;
  left: 80px;
  bottom: 0;
  align-items: center;
  overflow: hidden;
  overflow-y: overlay;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.content.animatecontent .cont-content {
  margin-left: 170px;
}

.content .cont-content .cont {
  transition-property: transform;
  display: flex;
}

.content .cont-content .cont .about {
  flex-shrink: 0;
  transition-property: transform;
  width: 100%;
  border: green solid;
}

.content .cont-content .cont .FAQ {
  flex-shrink: 0;
  transition-property: transform;
  width: 100%;
  border: green solid;
}

.content .cont-content .cont .meals {
  flex-shrink: 0;
  transition-property: transform;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content .cont-content .cont .meals .border_meals {
  width: 95%;
  background: white;
  border-radius: 9px;
  box-shadow: 3px 1px #88888854;
}

.content .cont-content .cont .meals .btn_add {
  float: right;
  margin-right: 28px;
  margin-top: 7px;
  position: relative;

}

.content .cont-content .cont .meals .btn_add button {
  padding: 11px 29px;
}

.content .cont-content .cont .meals .btn_add button:focus {
  box-shadow: none;
}

.content .cont-content .cont .meals .btn_add i {
  position: absolute;
  top: 14px;
  left: 9px;
  color: white;
  z-index: 1;
}

.content .cont-content .cont .meals .add_meals {
  /* display: none; */
  clear: right;
}

.content .cont-content .cont .meals .border_meals .add_meals {
  width: 409px;
  margin: 0 auto;
}
.content .cont-content .cont .meals .border_meals .add_meals form div{
  display: grid;
}
.content .cont-content .cont .meals .border_meals .add_meals form div label{
  font-family: "Gotham", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 750;
  margin-bottom: 5px;
    font-size: 21px;
}
.content .cont-content .cont .meals .border_meals .add_meals form div input{
  width: 330px;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:nth-child(4){
  justify-content: center;
  margin-top: 18px;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:nth-child(4) p{
  text-align: center;
  margin-top: 20px;
  color: red;
  font-size: 28px;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:nth-child(4) img{
  width: 231px;
  height: 241px;
  border-radius: 15px;
  object-fit: cover;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:nth-child(5){
  justify-content: center;
  margin-top: 12px;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:nth-child(5) label{
  display: inline-block;
  background-color: #0e0e23;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 147px;
  height: 39px;
  text-align: center;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:last-child {
  justify-content: end;
}
.content .cont-content .cont .meals .border_meals .add_meals form div:last-child button{
  width: 106px;
}

/*
=========================================================================================
-----------------------------    FAQ
====================
*/
.content .cont-content .cont .FAQ .add_FAQ {
  border: red solid;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  text-decoration: underline 4px;
}


.questions-container {
  max-width: 800px;
  margin: 0 auto;
}

.question {
  border-bottom: 1px solid #fff;
}

.question button {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border: none;
  outline: none;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.question p {
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: 0;
  transition: all 0.6s ease;
}

.d-arrow {
  transition: transform 0.5s ease-in;
  color: #fff;
}

/*add this class when click*/
.question p.show {
  max-height: 200px;
  opacity: 1;
  padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
  transform: rotate(180deg);
}


/*
=========================================================================================
-----------------------------    The best meals 
====================
*/




:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}



::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}