.content section.Meals{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90vh;
}
.content section.Meals div.Mealsborder{
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    border-radius: 12px;
    background: white;
}