.content {
    position: fixed;
    top: 6px;
    left: 8px;
    right: 7px;
    bottom: 6px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%) !important;
    overflow: overlay;
}

/* 
===================
--- Add Comments
====================
*/

.content section.Comments div.Add-Comments{
    max-width: 731px;
    width: 80%;
    margin: 0 auto;
    text-align: right;
}


/* 
===================
--- form Comments
====================
*/

.content section.Comments form {
    max-width: 731px;
    width: 80%;
    margin: 0 auto;
}