.content section.Meals {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 89vh;
}

.content section.Meals div.Mealsborder {
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    border-radius: 12px;
    background: white;
    overflow: overlay;
}

.content section.Meals div.Mealsborder button.addrestaurants {
    width: 147px;
    float: right;
    margin: 16px 21px 28px 0;
    padding: 10px 0;
}




.content section.Meals div.Mealsborder .formmeals {
    display: none;
    clear: right;
}

.content section.Meals div.Mealsborder .formmeals form {
    width: 761px;
    margin: 0 auto;
}

.borderimage {
    border-radius: 5px;
    width: 100%;
    min-height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe2e680;
    flex-direction: column;
}

.borderimage div.inputimage {
    background: #52b035;
    border-radius: 5px;
    width: 145px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin: 20px;
}

.borderimage div.inputimage label {
    margin: 0;
    margin-left: 10px;
}

.borderimage div.inputimage input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}


.borderimage div.valueinpute div.vall {
    width: 500px;
    height: 350px;
    margin: 22px;
}

.borderimage div.valueinpute p {
    color: red;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.borderimage div.valueinpute img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
==============================================================
----------------- filter
============================================================== 
*/
.content section.Meals div.Mealsborder article.filter {
    display: none;
}

.content section.Meals div.Mealsborder article.filter select.form-select {
    width: 159px;
    height: 32px;
    margin-right: 18px;
    border-radius: 23px;
    margin-top: -7px;
    margin-bottom: 8px;
    padding: 4px 22px;
    position: absolute;
    right: 0;
    top: 98px;
}

.content section.Meals div.Mealsborder article.filter select.form-select:focus-visible {
    outline: none;
}

.content section.Meals div.Mealsborder article.filter select.form-select:focus {
    border-color: #ced4da;
    box-shadow: none;
}

/* 
==============================================================
----------------- table
============================================================== 
*/
.content section.Meals div.Mealsborder article.showmeals {
    clear: right;
    max-width: 800px;
    width: 79%;
    margin: 13px auto;
}

.content section.Meals div.Mealsborder article.showmeals table#example tbody tr td{
    height: 160px;
}

.content section.Meals div.Mealsborder article.showmeals table#example div.borderimgee{
    width: 152px;
    height: 160px;
}

.content section.Meals div.Mealsborder article.showmeals table#example div.borderimgee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content section.Meals div.Mealsborder article.showmeals p {
    font-size: 26px;
    opacity: 0.4;
    display: flex;
    height: 56vh;
    justify-content: center;
    align-items: center;
}



/* The container */
.content section.Meals div.Mealsborder article table tbody tr td label.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.content section.Meals div.Mealsborder article table tbody tr td label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.content section.Meals div.Mealsborder article table tbody tr td label.container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.content section.Meals div.Mealsborder article table tbody tr td label.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.content section.Meals div.Mealsborder article table tbody tr td label.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.content section.Meals div.Mealsborder article table tbody tr td label.container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.content section.Meals div.Mealsborder article table tbody tr td label.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.content section.Meals div.Mealsborder article table tbody tr td label.container .checkmark:after {
    left: 7px;
    top: -2px;
    width: 11px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* 
==============================================================================================
*/


.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option img {
    width: 50px;
    height: 51px;
    object-fit: cover;
}

.options .option:hover {
    background: #F2F2F2;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}


/* ================================================================================================================== */


/* toggle-btns */





.toggle-btn label {
    position: relative;
    display: block;
    width: 56px;
    height: 29px;
    background: #aaa;
    border-radius: 30px;
    transition: all 300ms linear;
}

.toggle-btn label:before {
    position: relative;
    content: "";
    width: 24px;
    height: 24px;
    background: #ffffff45;
    display: block;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: all 300ms linear;
}

.toggle-btn label.active {
    background: #0e0e23;
}

.toggle-btn label.active:before {
    left: 29px;
}

.toggle-btn input {
    display: none;
}