@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.content{
    position: fixed;
    top: 9px;
    right: 9px;
    left: 9px;
    bottom: 9px;
    border-radius: 30px;
    background: white;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%) !important;
}



.content .sectionn div.user-information{
    max-width: 600px;
    margin: 0 auto;
    width: 80%;
    display: grid;
    gap: 17px;
    grid-template-areas:
        'input1 input2'
        'input3 input4'
        'input5 input5'
        'input6 input7'
        'input8 input8';
    position: relative;
    top: 99px;
}



.content .sectionn div.user-information div:nth-child(1){
    grid-area: input1;
    width: 305px;
}

.content .sectionn div.user-information div:nth-child(2){
    grid-area: input2;
}

.content .sectionn div.user-information div:nth-child(3){
    grid-area: input3;
    width: 305px;
}

.content .sectionn div.user-information div:nth-child(4){
    grid-area: input4;
}

.content .sectionn div.user-information div:nth-child(5){
    grid-area: input5;
}

.content .sectionn div.user-information div:nth-child(6){
    grid-area: input6;
    width: 305px;
}

.content .sectionn div.user-information div:nth-child(7){
    grid-area: input7;
}

.content .sectionn div.user-information div:nth-child(8){
    grid-area: input8;
}





.content .sectionn div p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans';
}


.content .sectionn  div p:last-child{
    border-radius: 4px;
    font-weight: 550;
    opacity: 0.8;
} 

.content .sectionn div:nth-child(8) p:first-child{
    width: 95px;
}