.content section {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.content section div.restaurants {
    position: absolute;
    top: 5px;
    right: 9px;
    left: 9px;
    bottom: -31px;
    height: 88vh;
    background: white;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%) !important;
    overflow: overlay;
}

.content section div.restaurants article.addrestautant {
    clear: right;
    width: 881px;
    margin: 0 auto;
    display: none;
}

.content section div.restaurants article button.addrestaurants {
    width: 147px;
    float: right;
    margin: 16px 21px 28px 0;
    padding: 10px 0;
}

.content section div.restaurants article.addrestautant form {
    gap: 10px;
    grid-template-areas:
        'input2 input2'
        'input3 input3'
        'input4 input5'
        'input6 input6'
        'input7 input8'
        'input9 input9'
        'input10 input10'
        'input11 input11'
        'input12 input12'
        'input13 input13';
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(2) {
    grid-area: input2;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(3) {
    grid-area: input3;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(4) {
    grid-area: input4;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(5) {
    grid-area: input5;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(6) {
    grid-area: input6;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(7) {
    grid-area: input7;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(8) {
    grid-area: input8;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(9) {
    grid-area: input9;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(10) {
    grid-area: input10;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(11) {
    grid-area: input11;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(12) {
    grid-area: input12;
}

.content section div.restaurants article.addrestautant form#submite div:nth-child(13) {
    grid-area: input13;
}




.content section div.restaurants article.addrestautant form div div input.form-control.form-select-sm {
    width: 119px;
}







/* ================================================================================================= */



.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    border-top: none;
}

#checkboxes label {
    padding-left: 19px;
    display: flex;
    align-items: center;
}

#checkboxes label input {
    margin-right: 6px;
}

#checkboxes label:hover {
    background-color: #0e0e230d;
}

.content section div.restaurants article.addrestautant form div div.addimage {
    height: auto;
    background: #efefeff5;
    border-radius: 8px;
    border: none;
    position: relative;
}

.content section div.restaurants article.addrestautant form div.addimage div.btn.btn-success {
    position: relative;
    margin: 24px;
}


.content section div.restaurants article.addrestautant form div.addimage div.btn.btn-success+input {
    position: absolute;
    width: 134px;
    opacity: 0;
}

.content section div.restaurants article.addrestautant form div.addimage div.btn.btn-success.d-none+input {
    width: 112px;
    opacity: 0;
    z-index: 1;
    top: 19px;
    right: 110px;
}


.content section div.restaurants article.addrestautant form div button.button_19.float-end {
    width: 88px;
    padding: 8px 0;
}

.content section div.restaurants article.addrestautant form div.addimage div.btn.btn-success:focus {
    box-shadow: none;
}



.content section div.restaurants article.addrestautant div input:checked+.switch {
    background: #0e0e23;
}

.content section div.restaurants article.addrestautant div input:checked+.switch::before {
    left: 27px;
    background: #fff;
}

.content section div.restaurants article.addrestautant div input:checked+.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

/* 
==================================
------------- add image 
=========
*/


.content section div.restaurants article.addrestautant form div.addimage div.container {
    width: 564px;
    margin: auto;
    position: relative;
}

.content section div.restaurants article.addrestautant form div.addimage div.container .image {
    display: none;
    margin-bottom: 20px;
    height: 365px;
    width: 540px;
}

.content section div.restaurants article.addrestautant form div.addimage div.container .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.content section div.restaurants article.addrestautant form div.addimage div.container .button {
    position: absolute;
    top: 50%;
    left: 12px;
    right: 12px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.content section div.restaurants article.addrestautant form div.addimage div.container .button a {
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.content section div.restaurants article.addrestautant form div.addimage div.container .button .prev {
    border-radius: 0 5px 5px 0;
}

.content section div.restaurants article.addrestautant form div.addimage div.container .button .next {
    border-radius: 5px 0 0 5px;
}

.content section div.restaurants article.addrestautant form div.addimage div.container div.dua:first-child {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    color: white;
    height: 40px;
    background: black;
    margin-top: 18px;
}

.content section div.restaurants article.addrestautant form div.addimage div.container div.dua:first-child div {
    cursor: pointer;
    position: relative;
}

.content section div.restaurants article.addrestautant form div.addimage div.container div.dua:first-child div input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

/* 
======================================================================================================================
------------------ table restautant 
==========
*/

.content section div.restaurants article.showmeals {
    clear: right;
    width: 780px;
    margin: 0 auto;
}

.content section div.restaurants article.showmeals div.card {
    border: #14151630 solid 1px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    border-radius: 12px;
}

.content section div.restaurants article.showmeals div.card div.row.g-0.d-flex {
    flex-wrap: nowrap;
}

.content section div.restaurants article.showmeals div.card-image {
    width: 300px;
    padding: 3px;
}

.content section div.restaurants article.showmeals div.card-image div.card-cader {
    width: 294px;
    height: 236px;
}

.content section div.restaurants article.showmeals div.card-image div.card-cader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
}

.content section div.restaurants article.showmeals div.card div.card-body {
    position: relative;
}

.content section div.restaurants article.showmeals div.card div.card-body  h5 {
    font-weight: 900;
    color: #4a4d51;
    font-family: emoji;
    font-size: 30px;
    width: 339px;
}

.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon:first-child {
    font-size: 20px;
    right: 59px;
    top: -5px;
}

.content section div.restaurants article.showmeals div.card div.card-body a {
    right: 25px;
    top: -5px;
    font-size: 20px;
}

.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon:last-child {
    right: -4px;
    top: -6px;
    font-size: 20px;
}


.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon .fa-trash-can {
    color: red;
}

.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon .fa-pencil {
    color: blue;
}

.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon .fa-eye {
    color: green;
}



.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon:first-child:before,
.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon:nth-child(2):before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon:first-child:after,
.content section div.restaurants article.showmeals div.card div.card-body div.icon div.eye-icon:nth-child(2):after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/*
====================================================================================================
----------------------------------------------------------- star
======================================
*/


.content section div.restaurants article.showmeals div.card div.card-body div.rating {
    position: absolute;
    bottom: 0px;
    left: 12px;
    flex-direction: row-reverse;
    align-items: center;
}


.content section div.restaurants article.showmeals div.card div.card-body div.rating .fa-star,
.content section div.restaurants article.showmeals div.card div.card-body div.rating .fa-solid {
    font-size: 23px;
    color: #ccc;
    margin: 0 2px;
    margin-left: -4px;
}

.content section div.restaurants article.showmeals div.card div.card-body div.rating .fa-star.active,
.content section div.restaurants article.showmeals div.card div.card-body div.rating .fa-solid {
    color: #fec057;
}

.content section div.restaurants article.showmeals div.card div.card-body div.rating p {
    font-size: 24px;
    font-weight: 550;
    color: #3f3d56;
    font-family: emoji;
    margin-left: 4px;
}

/* like  wrapper  */

.content section div.restaurants article.showmeals div.card div.card-body div.wrapper {
    position: absolute;
    bottom: -2px;
    right: 26px;
}

.content section div.restaurants article.showmeals div.card div.card-body div.wrapper P{
    font-size: 30px;
    font-weight: 550;
    color: #3f3d56;
    font-family: emoji;
}

.content section div.restaurants article.showmeals div.card div.card-body div.wrapper i{
    font-size: 34px;
    margin-left: 5px;
    color: #186dffc2;
}

.content section div.restaurants article.showmeals div.card div.card-body div.sales {
    position: absolute;
    bottom: -16px;
    right: 180px;
}

.content section div.restaurants article.showmeals div.card div.card-body div.sales p{
    font-size: 28px;
    font-weight: 550;
    color: #3f3d56d6;
    font-family: emoji;
}

.content section div.restaurants article.showmeals div.card div.card-body div.sales p span{
    margin-right: 2px;
    font-family: emoji;
}

/* 
================================================================================================================
---------------------------------------   show card 
=================== 
*/

header+section+section div.card:last-child {
    position: relative;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

section div.card div.card-content {
    position: absolute;
    top: 78px;
    left: 53%;
    transform: translate(-50%);
    z-index: 2;
    max-width: 850px;
    width: 80%;
    background-color: #f7f7f7;
    border-radius: 7px;
    max-height: 513px;
    overflow: overlay;
}

section div.card div.card-content div.usinfo {
    font-size: 21px;
    border-bottom: #282c2f solid 1px;
    width: 96%;
    font-weight: 600;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information {
    border: #3e424524 solid 0.1px;
    background-color: #d7e0f3 !important;
    max-width: 734px;
    width: 96%;
    margin: 0 auto;
    border-radius: 5px;
}

section div.card div.card-content div.information p {
    font-size: 18px;
    font-weight: 550;
    font-family: 'Open Sans';
    padding: 5px;
}

section div.card div.card-content div.information i {
    font-size: 26px;
    margin-top: 6px;
    margin-right: 12px;
    transition: transform 0.5s ease-in-out;
}

section div.card div.card-content div.information i.active {
    margin-bottom: 5px;
    transform: rotateZ(178deg);
}

section div.card div.card-content div.information-user {
    display: grid;
    gap: 10px;
    grid-template-areas: 'input1 input2';
    max-width: 712px;
    width: 96%;
    margin: 0 auto;
}

section div.card div.card-content div.information-user div:first-child {
    grid-area: input1;
}

section div.card div.card-content div.information-user div:last-child {
    grid-area: input2;
}

section div.card div.card-content div.information-user div p:first-child {
    font-size: 18px;
    font-weight: 550;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information-user div p:last-child {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information-Restaurant {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'input1 input1'
        'input2 input2'
        'input3 input4'
        'input5 input5'
        'input6 input7';
    max-width: 712px;
    width: 96%;
    margin: 0 auto;
}


section div.card div.card-content div.information-Restaurant div:nth-child(1) {
    grid-area: input1;
}

section div.card div.card-content div.information-Restaurant div:nth-child(2) {
    grid-area: input2;
}

section div.card div.card-content div.information-Restaurant div:nth-child(3) {
    grid-area: input3;
}

section div.card div.card-content div.information-Restaurant div:nth-child(4) {
    grid-area: input4;
}

section div.card div.card-content div.information-Restaurant div:nth-child(5) {
    grid-area: input5;
}

section div.card div.card-content div.information-Restaurant div:nth-child(6) {
    grid-area: input6;
}

section div.card div.card-content div.information-Restaurant div:nth-child(7) {
    grid-area: input7;
    margin-bottom: -12px;
}


section div.card div.card-content div.information-Restaurant div:nth-child(1) p:first-child,
section div.card div.card-content div.information-Restaurant div:nth-child(2) p:first-child,
section div.card div.card-content div.information-Restaurant div:nth-child(3) p:first-child,
section div.card div.card-content div.information-Restaurant div:nth-child(4) p:first-child,
section div.card div.card-content div.information-Restaurant div:nth-child(5) p:first-child {
    font-size: 18px;
    font-weight: 550;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information-Restaurant div:nth-child(1) p:last-child,
section div.card div.card-content div.information-Restaurant div:nth-child(2) p:last-child,
section div.card div.card-content div.information-Restaurant div:nth-child(3) p:last-child,
section div.card div.card-content div.information-Restaurant div:nth-child(4) p:last-child,
section div.card div.card-content div.information-Restaurant div:nth-child(5) p:last-child {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information-Restaurant div:nth-child(6) p {
    top: 6px;
    left: 96px;
    font-size: 28px;
    font-weight: 550;
    color: #3f3d56;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information-Restaurant div.free:nth-child(6) p {
    left: 108px;
    font-family: cursive;
    top: 7px;
}

section div.card div.card-content div.information-Restaurant div:nth-child(6) img {
    width: 97px;
    height: 50px;
}

section div.card div.card-content div.information-Restaurant div:nth-child(7) p {
    font-size: 28px;
    font-weight: 550;
    color: #3f3d56;
    font-family: 'Open Sans';
}

section div.card div.card-content div.information-Restaurant div:nth-child(7) i {
    font-size: 24px;
    margin-bottom: 7px;
    margin-left: 5px;
    color: #3f3d56;
}