/* add users */

.content section.users {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content section.users div.usersborder {
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    border-radius: 12px;
    background: white;
    overflow: overlay;
    max-height: 572px;
}



.content section.users div.usersborder article div.add_btn {
    width: 947px;
    margin: 0 auto;
    margin-top: 21px;
}

/* 
=====================================================================
--------------------------- add_form 
=======================
*/


.content section.users div.usersborder article .add_form {
    clear: right;
    display: flex;
    justify-content: center;
}

.content section.users div.usersborder article .add_form form {
    width: 829px;
    margin: 16px;
    /* display: none; */
    gap: 10px;
    grid-template-areas:
        'input1 input1'
        'input2 input3'
        'input4 input5'
        'input6 input6'
        'input7 input7'
        'input8 input8'
        'input9 input9'
        'input10 input10';
    justify-content: space-between;
    align-items: center;
    display: grid;
}





.content section.users div.usersborder article .add_form form div.image-profile {
    width: 121px;
    height: 122px;
    border-radius: 50%;
    position: relative;
}

.content section.users div.usersborder article .add_form form div.image-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.content section.users div.usersborder article .add_form form div.image-profile i {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 27px;
    border-radius: 50%;
    background: white;
    padding: 6px;
    border: #0000002b solid 0.01px;
}

.content section.users div.usersborder article .add_form form div.image-profile input {
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 40px;
    opacity: 0;
}


.content section.users div.usersborder article .add_form form div {
    font-family: "Gotham", "Arial", "Helvetica Neue", Helvetica, sans-serif;
    display: grid;
}

.content section.users div.usersborder article .add_form form div:nth-child(2) {
    grid-area: input1;
    justify-content: center;
}

.content section.users div.usersborder article .add_form form div:nth-child(3) {
    grid-area: input2;
    min-width: 405px;
}

.content section.users div.usersborder article .add_form form div:nth-child(4) {
    grid-area: input3;
    min-width: 405px;
}

.content section.users div.usersborder article .add_form form div:nth-child(5) {
    grid-area: input4;
}

.content section.users div.usersborder article .add_form form div:nth-child(6) {
    grid-area: input5;
    position: relative;
    width: 100%;
    min-width: 405px;
}

.content section.users div.usersborder article .add_form form div:nth-child(6) img {
    position: absolute;
    width: 37px;
    top: 24px;
    height: 31px;
    left: -1px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.content section.users div.usersborder article .add_form form div:nth-child(6) p.marroc212 {
    position: absolute;
    left: 37px;
    top: 24px;
    color: black;
    font-size: 19px;
}

.content section.users div.usersborder article .add_form form div input:focus {
    outline: none;
    border-color: #21252936;
    box-shadow: none;
}

.content section.users div.usersborder article .add_form form div select:focus {
    outline: none;
    border-color: #21252936;
    box-shadow: none;
}

.content section.users div.usersborder article .add_form form div textarea:focus {
    outline: none;
    border-color: #21252936;
    box-shadow: none;
}

.content section.users div.usersborder article .add_form form div:nth-child(7) {
    grid-area: input6;
    width: 100%;
}

.content section.users div.usersborder article .add_form form div:nth-child(8) {
    grid-area: input7;
    width: 100%;
    gap: 10px;
    grid-template-areas:
        'input11 input11'
        'input22 input33';
    display: none;
}

.content section.users div.usersborder article .add_form form div:nth-child(8) div:nth-child(1) {
    grid-area: input11;
    display: block;
}

.content section.users div.usersborder article .add_form form div:nth-child(8) div:nth-child(2) {
    grid-area: input22;
    display: block;
}

.content section.users div.usersborder article .add_form form div:nth-child(8) div:nth-child(3) {
    grid-area: input33;
    display: block;
}



.content section.users div.usersborder article .add_form form div:nth-child(9) {
    grid-area: input8;
    display: block;
}



.content section.users div.usersborder article .add_form form div:nth-child(10) {
    grid-area: input9;
    display: block;
    width: 100%;
}

.content section.users div.usersborder article .add_form form div:nth-child(11) {
    grid-area: input10;
    display: block;
    width: 100%;
}


.content section.users div.usersborder article .add_form form div:nth-child(9) p {
    font-size: 25px;
    color: red;
}

.content section.users div.usersborder article .add_form form div:nth-child(9) img {
    width: 133px;
    height: 145px;
    object-fit: cover;
    border-radius: 12%;
}

.content section.users div.usersborder article .add_form form div:nth-child(13) {
    grid-area: input12;
    width: 100%;
    justify-content: end;
}

.content section.users div.usersborder article .add_form form div:last-child button {
    width: 141px;
    margin-right: 43px;
}

.content section.users div.usersborder article .add_form form div label span {
    color: red;
}

.content section.users div.usersborder article .add_form form div p {
    color: red;
    margin: 0;
}

.content section.users div.usersborder article .add_form form div input:focus-visible,
.content section.users div.usersborder article .add_form form div select:focus-visible {
    outline: none;
}


/* 
=====================================================================
--------------------------- research_users 
=======================
*/

.content section.users div.usersborder article .research_users {
    display: flex;
    float: right;
    position: relative;
    margin-right: 31px;
    margin-top: 24px;
    font-family: "Gotham", "Arial", "Helvetica Neue", Helvetica, sans-serif;
}


.content section.users div.usersborder article .research_users .dropdown select {
    border: none;
    text-align: center;
    font-size: 19px;
    height: 27px;
    width: 118px;
    border-bottom: #212529 solid;
}

.content section.users div.usersborder article .research_users .dropdown select:focus-visible,
.content section.users div.usersborder article .research_users .search_field input:focus-visible {
    outline: none;
}

.content section.users div.usersborder article .research_users .search_field {
    position: relative;
}

.content section.users div.usersborder article .research_users .search_field input {
    border: none;
    border-bottom: #212529 solid;
    width: 229px;
}

.content section.users div.usersborder article .research_users .search_field i {
    position: absolute;
    right: 5px;
    top: -3px;
    font-size: 22px;
}



/* 
=====================================================================
--------------------------- table_users 
=======================
*/

.content section.users div.usersborder article .table_users {
    width: 900px;
    margin: 19px auto 0;
    clear: right;
    padding-top: 31px;
}

.content section.users div.usersborder article .table_users p.data_null {
    opacity: 0.6;
    text-align: center;
    margin: 40px;
}

.content section.users div.usersborder article .table_users .table thead tr th:nth-child(1) {
    width: 30%;
}

.content section.users div.usersborder article .table_users .table thead tr th:nth-child(2) {
    width: 10%;
    text-align: center;
}

.content section.users div.usersborder article .table_users .table thead tr th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.content section.users div.usersborder article .table_users .table thead tr th:nth-child(4) {
    width: 25%;
    text-align: center;
}

.content section.users div.usersborder article .table_users .table thead tr th:nth-child(5) {
    width: 15%;
    text-align: center;
}

.content section.users div.usersborder article .table_users .table tbody tr th div.usersin {
    display: flex;
    align-items: center;
}

.content section.users div.usersborder article .table_users .table tbody tr th div.usersin div:first-child {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50px;
}

.content section.users div.usersborder article .table_users .table tbody tr th div.usersin div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.content section.users div.usersborder article .table_users .table tbody tr th div.usersin div:nth-child(2) {
    padding-left: 12px;
}

.content section.users div.usersborder article .table_users .table tbody tr th div.usersin div:nth-child(2) h5 {
    margin: 0;
    font-weight: 600;
}

.content section.users div.usersborder article .table_users .table tbody tr th div.usersin div:nth-child(2) p {
    margin: 0;
    font-weight: 700;
}

.content section.users div.usersborder article .table_users .table tbody tr td {
    position: relative;
}

.content section.users div.usersborder article .table_users .table tbody tr td .button_19 {
    text-decoration: none;
}

.content section.users div.usersborder article .table_users .table tbody tr td .button_19:hover {
    color: white;
    text-decoration: none;
}

.content section.users div.usersborder article .table_users .table tbody tr td h5,
.content section.users div.usersborder article .table_users .table tbody tr td button,
.content section.users div.usersborder article .table_users .table tbody tr td a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content section.users div.usersborder article .table_users .table tbody tr td:nth-child(3) a {
    width: 107px;
    padding: 10px 0;
}

.content section.users div.usersborder article .table_users .table tbody tr td:nth-child(4) a {
    width: 102px;
    padding: 10px 0;
}